body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #0056b3;
    color: white;
    padding: 15px 20px;
    text-align: center;
    border-bottom: 5px solid #004085;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.header p {
    margin: 5px 0 0;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar {
    background-color: #007bff;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #0056b3;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #555;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.button:hover {
    background-color: #0056b3;
}

/* Gaya untuk klasifikasi prioritas */
.tinggi { color: #dc3545; font-weight: bold; } /* Merah */
.sedang { color: #ffc107; font-weight: bold; } /* Kuning */
.rendah { color: #28a745; font-weight: bold; } /* Hijau */

/* Chart styles */
.chart-container {
    position: relative;
    margin: auto;
    height: 400px; /* Default height */
    width: 100%; /* Default width */
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="password"],
form select,
form input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.action-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}
.action-links a:hover {
    text-decoration: underline;
}